<html>
  <head>
    <meta charset="utf-8">
    <title>Node js Google v3 Recaptcha Example Tutorial</title>
    <script src="https://www.google.com/recaptcha/api.js"></script>
  </head>
  <body>
    <h1>Google Recaptcha Tutorial</h1><br />
    <form method="POST" action="/captcha?type=v2-checkbox">
      <div class="g-recaptcha" data-sitekey="XXXXXX"></div>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>

